@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Teko";
  src: url("../fonts/Teko/Teko-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Teko";
  src: url("../fonts/Teko/Teko-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

header .icon {
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  height: 15px;
  cursor: pointer;
}

header .icon span {
  width: 100%;
  height: 2px;
  margin-bottom: 3px;
  background-color: black;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header .icon:hover span:nth-child(1) {
  transform: rotate(-10deg);
  width: 60%;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}
header .icon:hover span:nth-child(2) {
  transform: rotate(18deg) translate(0px, 1px);
  width: 90%;
  -webkit-transform: rotate(18deg) translate(0px, 1px);
  -moz-transform: rotate(18deg) translate(0px, 1px);
  -ms-transform: rotate(18deg) translate(0px, 1px);
  -o-transform: rotate(18deg) translate(0px, 1px);
}
header .icon:hover span:nth-child(3) {
  transform: rotate(54deg) translate(-4px, 2px);
  width: 60%;
}

.box {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 20px -50px;
  background-color: rgb(116, 177, 228);
  transition: 2s transform;
  animation: turning 2s infinite linear both, poping 0.5s linear infinite both,
    breking 2s infinite linear both;
  -webkit-transition: 2s transform;
  -moz-transition: 2s transform;
  -ms-transition: 2s transform;
  -o-transition: 2s transform;
  z-index: 3;
  -webkit-animation: turning 2s infinite linear both,
    poping 0.5s linear infinite both, breking 2s infinite steps() linear both;
}
div.shadow {
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  top: 50%;
  margin: 65px -50px;
  left: 50%;
  border-radius: 50%;
  background-color: #e1e0e0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  bottom: -25px;
  animation: shrenck 0.25s linear infinite both alternate;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-animation: shrenck 0.25s linear infinite both alternate;
}

@keyframes turning {
  0% {
    transform: rotate(35deg);
    border-radius: 0;
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  25% {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
  }
  50% {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
  }
  75% {
    transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    -moz-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    -o-transform: rotate(320deg);
  }
  100% {
    transform: rotate(395deg);
    -webkit-transform: rotate(395deg);
    -moz-transform: rotate(395deg);
    -ms-transform: rotate(395deg);
    -o-transform: rotate(395deg);
  }
}

@keyframes poping {
  0% {
    margin: 20px -50px;
  }
  50% {
    margin: 5px -50px;
  }
  100% {
    margin: 20px -50px;
  }
}

@keyframes shrenck {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  to {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}

@keyframes breking {
  0% {
    border-radius: 0% 0% 50% 0%;
    -webkit-border-radius: 0% 0% 50% 0%;
    -moz-border-radius: 0% 0% 50% 0%;
    -ms-border-radius: 0% 0% 50% 0%;
    -o-border-radius: 0% 0% 50% 0%;
  }
  25% {
    border-radius: 0% 50% 0% 0%;
    -webkit-border-radius: 0% 50% 0% 0%;
    -moz-border-radius: 0% 50% 0% 0%;
    -ms-border-radius: 0% 50% 0% 0%;
    -o-border-radius: 0% 50% 0% 0%;
  }
  50% {
    border-radius: 50% 0% 0% 0%;
    -webkit-border-radius: 50% 0% 0% 0%;
    -moz-border-radius: 50% 0% 0% 0%;
    -ms-border-radius: 50% 0% 0% 0%;
    -o-border-radius: 50% 0% 0% 0%;
  }
  75% {
    border-radius: 0% 0% 0% 50%;
    -webkit-border-radius: 0% 0% 0% 50%;
    -moz-border-radius: 0% 0% 0% 50%;
    -ms-border-radius: 0% 0% 0% 50%;
    -o-border-radius: 0% 0% 0% 50%;
  }
  100% {
    border-radius: 0% 0% 50% 0%;
    -webkit-border-radius: 0% 0% 50% 0%;
    -moz-border-radius: 0% 0% 50% 0%;
    -ms-border-radius: 0% 0% 50% 0%;
    -o-border-radius: 0% 0% 50% 0%;
  }
}
