@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Teko";
  src: url("../fonts/Teko/Teko-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Teko";
  src: url("../fonts/Teko/Teko-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Open Sans";
  user-select: none;
}
:root {
  --main-color: #00bcd4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::first-letter {
  text-transform: uppercase;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  font-size: 20px;
  background-color: var(--main-color);
  align-items: center;
  color: white;
  height: 75px;
}
header .logo img {
  width: 62px;
  background: white;
  border-radius: 50%;
}

header div span {
  font-weight: bold;
  color: #a2d13a;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 129px);
}

section .sign {
  padding: 15px 20px;
  height: 400px;
  max-width: 400px;
  background-image: radial-gradient(var(--main-color) 77%, transparent);
  border-radius: 10px;
  color: white;
  box-shadow: 10px 15px 10px -7px #00000075;
}
section .sign .sutch {
  display: flex;
}
section .sign .sutch div {
  flex: 1;
  text-align: center;
  background-color: white;
  border: 1px solid #777;
  color: #777;
  cursor: pointer;
  padding: 5px 10px;
  --border-radius: 7px;
}
section .sign .sutch div:hover {
  background-color: #ddd;
}
section .sign .sutch div:nth-child(1) {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
section .sign .sutch div:nth-child(2) {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

section .sign form {
  margin-top: 50px;
}

section .sign label {
  font-size: 1.2rem;
}

section .sign input[type="text"],
section .sign input[type="password"] {
  border: none;
  color: white;
  border-bottom: 1px solid white;
  font-size: 16px;
  padding-left: 5px;
  background-color: transparent;
}
section .sign .password i {
  cursor: pointer;
  width: 20px;
}
section .sign input[type="submit"] {
  background-color: white;
  color: var(--main-color);
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  display: block;
  margin: 15px auto;
  border-radius: 10px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

section .sign input:focus {
  outline: none;
}
section .sign .info {
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  display: none;
}
section .sign .not-fuond {
  background-image: radial-gradient(red, transparent);
}
section .sign .fuond {
  color: #32ff00;
}

footer {
  background-color: #00131c;
  color: white;
  padding: 15px 20px;
  text-align: center;
  height: 52px;
}
footer a {
  text-decoration: none;
  color: var(--main-color);
}
